body {
    color: rgb(0, 47, 255);
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    background-image: url("https://i0.web.de/image/426/41198426,pd=1/verkoerperte-alten-dc-universum-superman-henry-cav.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}


#Meingeheimnis {
    border: 8px solid;
    height: 180px;
    width: 300px;
    background-color: rgba(139, 32, 0, 0.233);
    text-align: center;
    position: relative;
    top: 30px;
}

#Meinesuperkräfte {
    border: 7px solid;
    border-radius: 170px;
    height: 210px;
    width: 210px;
    background-color: rgba(165, 42, 63, 0.103);
    text-align: center;
    position: relative;
    top: 25px;
    transform: translate(1000px, -250px);
    font-size: 30px;
}

#freeslots {
    border: 8px solid ;
    height: 240px;
    width: 200px;
    background-color: rgba(165, 42, 63, 0.103);
    text-align: center;
    position: relative;
    top: 25px;
}




